// app global css in SCSS form
body{
    margin-left: 55%;
    background-image: url("https://i.pinimg.com/originals/35/fa/1e/35fa1e0034ac1ebdfb03960cb0f7aaaa.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
